* {
  font-family: 'Emblema';
}
body {
  background-image: url('../assets/coffeehousecontrasted.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.buttonbox{
  background-color: rgba(49, 49, 51, 0.5);
  border: #FFEEAF solid 1px;
}
.titlecont {
  position: absolute;
  top: 0%;
  left: 5%;
  right: 5%;
  border: none;
  text-align: center;
}
.titlecont h1 {
  color: #313133;
  -webkit-text-stroke-width: 0.4vw;
  -webkit-text-stroke-color: #FFEEAF;
}
.Button {
  background: #313133;
  transition: 1s;
  border: 2px solid #FFEEAF;
  color: #FFEEAF;
}
.Button:hover{
  background: #948e8e;
}
.titlecont span {
  color: #FFEEAF;
  -webkit-text-stroke-width: 0.4vw;
  -webkit-text-stroke-color: #313133;
}
.dropdown {
  background-color: rgba(49, 49, 51, 0.5);
  color: #FFEEAF;
}
.dropdown-content a {
  display: block;
  color: #FFEEAF;
  padding: 5px;
  text-decoration: none;
  background-color:rgba(49, 49, 51, 0.5);
}
.dropdown-content a:hover {
  color: #FFEEAF;
  background-color: rgba(153, 153, 153, 0.5);
}
.dropdown button {
  all: unset;
  padding: 5px;
  color: black
  border: 1px solid #ccc;
  background-color:rgba(49, 49, 51, 0.5);
  overflow: hidden;
  display: inline-block;
  width: 10vw;
}
