/* standard */
body {
  background-color:#292929;
}
/*buttons*/
.Button{
  display: inline-block;
  position: relative;
  height: 200px;
  width: 200px;
  border: none;
  outline: none;
  color: white;
  background: #a3a3a3;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
}
.buttonbox button:before{
  position: absolute;
  content: '';
  top: -2px;
  left: -2px;
  height: calc(100% + 10px);
  width: calc(100% + 10px);
  border-radius: 10px;
  z-index: -1;
  opacity: 0;
  filter: blur(10px);
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  transition: opacity .3s ease-in-out;
  animation: rainbow 18s linear infinite;
}
.buttonbox button:hover:before{
  opacity: 1;
}
.buttonbox button:hover:active{
  background: none;
}
@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
/*containers*/
.buttonbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position:absolute;
  border: 1px solid white;
  top:50%;
  left:5%;
  right:5%;
}
.falsebutton2span{
  display: inline-block;
  position: relative;
  height: 150px;
  width: 320px;
  border: none;
  outline: none;
  color: white;
  background: #a3a3a3;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
}
.titlecont {
  position: absolute;
  top: 0%;
  left: 5%;
  right: 5%;
  border: none;
  text-align: center;
}
.titlecont h1{
  color:white;
  font-size: 14vw;
}
/*special*/
span {
  cursor: pointer;
}
.bottomtext {
  display: inline-block;
  position: absolute;
  
}
.dropdown {
  display: inline-block;
  position: relative;
  z-index:3;
  cursor: default;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  background-color:rgba(255,255,255,0.5);
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: rgba(153, 153, 153, 0.5);
}
.dropdown button {
  all: unset;
  padding: 5px;
  color: black
  border: 1px solid #ccc;
  background-color:rgba(255,255,255,0.5);
  overflow: hidden;
  display: inline-block;
  width: 10vw;
}
